<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">c:/export/Logs/task-list</Property>
        <Property name="archive">${log-path}/archive</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </Pattern>
            </PatternLayout>
        </Console>
        <File name="file-appender" fileName="${log-path}/taskList.log">
            <PatternLayout>
                <Pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="cn.kevin" level="info">
            <AppenderRef ref="file-appender" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="console" />
        </Root>

    </Loggers>

</Configuration>