<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath:sql-mapper/*.xml" />
    </bean>

    <!--
    <mybatis:scan base-package="cn.kevin.dao" factory-ref="sqlSessionFactory" />
    this will caused Caused by: org.springframework.beans.factory.parsing.BeanDefinitionParsingException:
    Configuration problem: Unable to locate Spring NamespaceHandler for XML schema namespace [http://mybatis.org/schema/mybatis-spring]
    -->

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.kevin.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

</beans>