<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kevin.dao.ActivityMapper">

    <resultMap id="BaseResultMap" type="cn.kevin.domain.Activity">
        <id column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="activity_name" property="activityName" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="baseColumns">
        activity_id, activity_name, status, create_time, update_time, remark
    </sql>

    <sql id="condition">
        <where>
            <if test="activityName != null">
                ACTIVITY_NAME = #{activityName}
            </if>
            <if test="status != null">
                AND STATUS = #{status}
            </if>
        </where>
    </sql>

    <sql id="updateClause">
        <set>
            <if test="activityName != null">
                ACTIVITY_NAME = #{activityName},
            </if>
            <if test="status != null">
                STATUS = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark}
            </if>
        </set>
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM task_list_activity
        WHERE activity_id = #{activityId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="cn.kevin.domain.Activity">
        INSERT INTO task_list_activity (activity_id, activity_name, status,
                                        create_time, update_time, remark
        )
        VALUES (#{activityId,jdbcType=INTEGER}, #{activityName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.kevin.domain.Activity">
        UPDATE task_list_activity
        <include refid="updateClause" />
        WHERE activity_id = #{activityId,jdbcType=INTEGER}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
            <include refid="baseColumns" />
        FROM task_list_activity
        WHERE activity_id = #{activityId,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            <include refid="baseColumns" />
        FROM task_list_activity
    </select>

    <select id="listByQuery" resultMap="BaseResultMap" parameterType="cn.kevin.domain.query.ActivityQuery">
        SELECT
            <include refid="baseColumns" />
        FROM task_list_activity
        <include refid="condition" />
    </select>
</mapper>