<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kevin.dao.AppPlanHistoryMapper">

    <resultMap id="BaseResultMap" type="cn.kevin.domain.AppPlanHistory">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="plan_id" property="planId" jdbcType="BIGINT"/>
        <result column="check_date" property="checkDate" jdbcType="DATE" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="selectClause">
        SELECT
            id,
            plan_id,
            check_date,
            create_time
        FROM app_plan_history
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM app_plan_history
        WHERE plan_id = #{planId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="cn.kevin.domain.AppPlanHistory">
        INSERT INTO app_plan_history (plan_id, check_date, create_time
        )
        VALUES (#{planId,jdbcType=BIGINT}, #{check_date}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        <include refid="selectClause" />
        WHERE plan_id = #{planId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        <include refid="selectClause" />
        FROM app_plan_history
    </select>

    <select id="listByPlanId" resultMap="BaseResultMap">
        <include refid="selectClause" />
        FROM app_plan_history
        WHERE plan_id = #{planId}
    </select>

</mapper>