<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kevin.dao.TaskListMapper">
    <resultMap id="BaseResultMap" type="cn.kevin.domain.TaskList">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="LABEL" property="label" jdbcType="VARCHAR"/>
        <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
        <result column="STATE" property="state" jdbcType="VARCHAR"/>
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
        <result column="SCHEDULE_DATE" property="scheduleDate" jdbcType="DATE"/>
        <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM todo_list
        WHERE ID = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.kevin.domain.TaskList">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into todo_list (LABEL, CONTENT, STATE,
        CREATE_DATE, SCHEDULE_DATE, UPDATE_DATE,
        REMARK)
        values (#{label,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
        #{createDate,jdbcType=DATE}, #{scheduleDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE},
        #{remark,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.kevin.domain.TaskList">
        UPDATE todo_list
        SET LABEL         = #{label,jdbcType=VARCHAR},
            CONTENT       = #{content,jdbcType=VARCHAR},
            STATE         = #{state,jdbcType=VARCHAR},
            CREATE_DATE   = #{createDate,jdbcType=DATE},
            SCHEDULE_DATE = #{scheduleDate,jdbcType=DATE},
            UPDATE_DATE   = #{updateDate,jdbcType=DATE},
            REMARK        = #{remark,jdbcType=VARCHAR}
        WHERE ID = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
            ID,
            LABEL,
            CONTENT,
            STATE,
            CREATE_DATE,
            SCHEDULE_DATE,
            UPDATE_DATE,
            REMARK
        FROM todo_list
        WHERE ID = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            ID,
            LABEL,
            CONTENT,
            STATE,
            CREATE_DATE,
            SCHEDULE_DATE,
            UPDATE_DATE,
            REMARK
        FROM todo_list
    </select>
    <select id="selectByState" resultMap="BaseResultMap">
        SELECT
            ID,
            LABEL,
            CONTENT,
            STATE,
            CREATE_DATE,
            SCHEDULE_DATE,
            UPDATE_DATE,
            REMARK
        FROM todo_list
        WHERE STATE = #{state}
        ORDER BY CREATE_DATE ASC
    </select>
</mapper>